.myBtn {
  padding: 5px 15px;
  color: teal;
  font-size: 14px;
  background: transparent;
  border: 1px solid teal;
  cursor: pointer;
}

.myBtn__active {
  border-color: orange;
  color: orange;
  font-weight: bold;
}

button:hover {
  border: 1px solid rgb(3, 235, 235);
}

button:disabled {
  color: gray;
  border: 1px solid gray;
}
